<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in an Db2 database on IBM Cloud instance
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called **SCHOOLS**.

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

The following modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
%load_ext sql

In [11]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://pff44874:DX9nnFBpqdwp3qkr@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB?security=SSL

'Connected: pff44874@BLUDB'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [20]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select tabschema, tabname, create_time from syscat.tables where tabschema = 'PFF44874'

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('PFF44874', 'PETRESCUE', datetime.datetime(2022, 3, 10, 14, 50, 13, 414276)),
 ('PFF44874', 'EMPLOYEES', datetime.datetime(2022, 3, 10, 15, 22, 36, 859922)),
 ('PFF44874', 'JOB_HISTORY', datetime.datetime(2022, 3, 10, 15, 22, 37, 41767)),
 ('PFF44874', 'JOBS', datetime.datetime(2022, 3, 10, 15, 22, 37, 210163)),
 ('PFF44874', 'DEPARTMENTS', datetime.datetime(2022, 3, 10, 15, 22, 37, 368620)),
 ('PFF44874', 'LOCATIONS', datetime.datetime(2022, 3, 10, 15, 22, 37, 525522)),
 ('PFF44874', 'INSTRUCTOR', datetime.datetime(2022, 3, 16, 17, 11, 12, 722293)),
 ('PFF44874', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2022, 3, 18, 10, 36, 20, 44502)),
 ('PFF44874', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2022, 3, 18, 10, 56, 19, 691867)),
 ('PFF44874', 'SCHOOLS', datetime.datetime(2022, 3, 24, 12, 16, 30, 142316))]

Double-click **here** for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [22]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from syscat.columns where tabname = 'SCHOOLS'

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(78,)]

Double-click **here** for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [24]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select colname, typename, length from syscat.columns where tabname = 'SCHOOLS'

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('LEADERS_ICON', 'VARCHAR', 4),
 ('LEADERS_SCORE', 'VARCHAR', 3),
 ('TEACHERS_ICON', 'VARCHAR', 11),
 ('TEACHERS_SCORE', 'VARCHAR', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL', 5),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR', 6),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR', 7),
 ('PK_2_LITERACY__', 'VARCHAR', 4),
 ('PK_2_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR', 4),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL', 4),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR', 6),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR', 4),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR', 3),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR', 4),
 ('GRADUATION_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR', 4),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('SCHOOL_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 64),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('STREET_ADDRESS', 'VARCHAR', 29),
 ('CITY', 'VARCHAR', 7),
 ('STATE', 'VARCHAR', 2),
 ('ZIP_CODE', 'INTEGER', 4),
 ('PHONE_NUMBER', 'VARCHAR', 14),
 ('LINK', 'VARCHAR', 78),
 ('NETWORK_MANAGER', 'VARCHAR', 40),
 ('COLLABORATIVE_NAME', 'VARCHAR', 34),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR', 3),
 ('TRACK_SCHEDULE', 'VARCHAR', 12),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR', 16),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('SAFETY_ICON', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR', 3),
 ('ENVIRONMENT_ICON', 'VARCHAR', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('INSTRUCTION_ICON', 'VARCHAR', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('LOCATION', 'VARCHAR', 27)]

Double-click **here** for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [33]:
%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(462,)]

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [40]:
%sql select MAX(safety_score) as "Max Safety Score" from SCHOOLS

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(99,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [53]:
%sql select Distinct(safety_score), name_of_school from SCHOOLS where safety_score is not null order by safety_score Desc

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(99, 'Abraham Lincoln Elementary School'),
 (99, 'Alexander Graham Bell Elementary School'),
 (99, 'Annie Keller Elementary Gifted Magnet School'),
 (99, 'Augustus H Burley Elementary School'),
 (99, 'Edgar Allan Poe Elementary Classical School'),
 (99, 'Edgebrook Elementary School'),
 (99, 'Ellen Mitchell Elementary School'),
 (99, 'James E McDade Elementary Classical School'),
 (99, 'James G Blaine Elementary School'),
 (99, 'LaSalle Elementary Language Academy'),
 (99, 'Mary E Courtenay Elementary Language Arts Center'),
 (99, 'Northside College Preparatory High School'),
 (99, 'Northside Learning Center High School'),
 (99, 'Norwood Park Elementary School'),
 (99, 'Oriole Park Elementary School'),
 (99, 'Sauganash Elementary School'),
 (99, 'Stephen Decatur Classical Elementary School'),
 (99, 'Talman Elementary School'),
 (99, 'Wildwood Elementary School'),
 (98, 'Walter Payton College Preparatory High School'),
 (95, 'Edison Park Elementary School'),
 (95, 'John J Audubon Elementary School'),
 (95, 'Whitney M Young Magnet High School'),
 (92, 'Hawthorne Elementary Scholastic Academy'),
 (92, 'William Jones College Preparatory High School'),
 (91, 'Thomas A Edison Regional Gifted Center Elementary School'),
 (90, 'Ray Graham Training Center High School'),
 (90, 'William H Prescott Elementary School'),
 (88, 'Albert G Lane Technical High School'),
 (87, 'Arthur E Canty Elementary School'),
 (87, 'Chicago High School for Agricultural Sciences'),
 (87, 'Franklin Elementary Fine Arts Center'),
 (87, 'John C Coonley Elementary School'),
 (87, 'Mark Skinner Elementary School'),
 (86, 'Andrew Jackson Elementary Language Academy'),
 (86, 'Elizabeth H Sutherland Elementary School'),
 (86, 'Frederic Chopin Elementary School'),
 (85, 'Thomas J Waters Elementary School'),
 (84, 'Mount Greenwood Elementary School'),
 (84, 'South Loop Elementary School'),
 (83, 'James Otis Elementary School'),
 (81, 'Amelia Earhart Options for Knowledge Elementary School'),
 (81, 'Philip Rogers Elementary School'),
 (80, 'John B Murphy Elementary School'),
 (79, 'Lenart Elementary Regional Gifted Center'),
 (79, 'Robert L Grimes Elementary School'),
 (78, 'Christian Ebinger Elementary School'),
 (78, 'Hannah G Solomon Elementary School'),
 (78, 'Stone Elementary Scholastic Academy'),
 (78, 'William Penn Elementary School'),
 (77, 'Edward N Hurley Elementary School'),
 (76, 'George F Cassell Elementary School'),
 (76, 'Kate S Kellogg Elementary School'),
 (75, 'Belmont-Cragin Elementary School'),
 (75, 'Johann W von Goethe Elementary School'),
 (75, 'John Palmer Elementary School'),
 (74, 'George Westinghouse High School'),
 (74, 'John C Dore Elementary School'),
 (74, 'John H Vanderpoel Elementary Magnet School'),
 (74, 'Mark Sheridan Elementary Math & Science Academy'),
 (73, 'Alexander Hamilton Elementary School'),
 (72, 'Friedrich Ludwig Jahn Elementary School'),
 (72, 'John L Marsh Elementary School'),
 (72, 'Stephen K Hayt Elementary School'),
 (72, 'Thomas Drummond Elementary School'),
 (71, 'Ernst Prussing Elementary School'),
 (71, 'James B McPherson Elementary School'),
 (71, 'Jonathan Burr Elementary School'),
 (71, 'Walter L Newberry Math & Science Academy Elementary School'),
 (70, 'Alcott High School for the Humanities'),
 (70, 'Eliza Chappell Elementary School'),
 (70, 'Friedrich W von Steuben Metropolitan Science High School'),
 (70, 'Ole A Thorp Elementary Scholastic Academy'),
 (70, 'Spry Community Links High School'),
 (70, 'William C Goudy Elementary School'),
 (70, 'Woodlawn Community Elementary School'),
 (69, 'Willa Cather Elementary School'),
 (69, 'William H Ray Elementary School'),
 (68, 'Carl von Linne Elementary School'),
 (68, 'Harriet E Sayre Elementary Language Academy'),
 (68, 'Pulaski International Academy Elmentary School'),
 (68, 'Robert A Black Magnet Elementary School'),
 (67, 'Albert R Sabin Elementary Magnet School'),
 (67, 'Eric Solorio Academy High School'),
 (67, 'Inter-American Elementary Magnet School'),
 (67, 'James Weldon Johnson Elementary School'),
 (67, 'Julia C Lathrop Elementary School'),
 (67, 'Julia Ward Howe Elementary School of Excellence'),
 (67, 'Mark Twain Elementary School'),
 (67, 'National Teachers Elementary Academy'),
 (67, 'Norman A Bridge Elementary School'),
 (67, 'North River Elementary School'),
 (67, 'Oscar F Mayer Elementary School'),
 (67, 'Thomas Hoyne Elementary School'),
 (67, 'West Ridge Elementary School'),
 (67, 'William E Dever Elementary School'),
 (66, 'Albany Park Multicultural Academy'),
 (66, 'Chicago Academy Elementary School'),
 (66, 'Christopher Columbus Elementary School'),
 (66, 'John Spry Elementary Community School'),
 (66, 'LaSalle II Magnet Elementary School'),
 (66, 'Phillip Murray Elementary Language Academy'),
 (66, 'Robert Lindblom Math & Science Academy High School'),
 (65, 'Galileo Math & Science Scholastic Academy Elementary School'),
 (65, 'Horace Greeley Elementary School'),
 (65, 'John Greenleaf Whittier Elementary School'),
 (65, 'Lincoln Park High School'),
 (64, 'Grover Cleveland Elementary School'),
 (64, 'Gwendolyn Brooks College Preparatory Academy High School'),
 (64, 'Hiram H Belding Elementary School'),
 (64, 'Hyman G Rickover Naval Academy High School'),
 (64, 'John H Kinzie Elementary School'),
 (64, 'Lake View High School'),
 (64, 'Minnie Mars Jamieson Elementary School'),
 (64, 'Rueben Salazar Elementary Bilingual Center'),
 (64, 'Rufus M Hitch Elementary School'),
 (64, 'William J Onahan Elementary School'),
 (63, 'Bret Harte Elementary School'),
 (63, 'Jacob Beidler Elementary School'),
 (63, 'Jean Baptiste Beaubien Elementary School'),
 (63, 'Kenwood Academy High School'),
 (63, 'Mancel Talcott Elementary School'),
 (63, 'Michael M Byrne Elementary School'),
 (63, 'Robert Healy Elementary School'),
 (62, 'Joshua D Kershaw Elementary School'),
 (62, 'Mary Gage Peterson Elementary School'),
 (62, 'Portage Park Elementary School'),
 (62, 'Virgil Grissom Elementary School'),
 (61, 'Adlai E Stevenson Elementary School'),
 (61, 'Burnham Elementary Inclusive Academy'),
 (61, 'Durkin Park Elementary School'),
 (61, 'Genevieve Melody Elementary School'),
 (61, 'George B Swift Elementary Specialty School'),
 (61, 'Jordan Elementary Community School'),
 (61, 'William Howard Taft High School'),
 (60, 'Collins Academy High School'),
 (60, 'Emiliano Zapata Elementary Academy'),
 (60, 'Evergreen Academy Middle School'),
 (60, 'Frazier Prospective IB Magnet Elementary School'),
 (60, 'John A Walsh Elementary School'),
 (60, 'John W Garvy Elementary School'),
 (60, 'Johnnie Colemon Elementary Academy'),
 (60, 'Maria Saucedo Elementary Scholastic Academy'),
 (60, 'Peter A Reinberg Elementary School'),
 (59, 'A.N. Pritzker School'),
 (59, 'Charles Allen Prosser Career Academy High School'),
 (59, 'Columbia Explorers Elementary Academy'),
 (59, 'George Armstrong International Studies Elementary School'),
 (59, 'George M Pullman Elementary School'),
 (59, 'John B Drake Elementary School'),
 (59, 'Lyman A Budlong Elementary School'),
 (59, 'Richard Henry Lee Elementary School'),
 (58, 'Calmeca Academy of Fine Arts and Dual Language'),
 (58, 'Charles R Darwin Elementary School'),
 (58, 'Chicago Academy High School'),
 (58, 'George Washington Elementary School'),
 (58, 'Helen Peirce International Studies Elementary School'),
 (58, 'Infinity Math Science and Technology High School'),
 (58, 'Joseph Kellman Corporate Community Elementary School'),
 (58, 'Louis Nettelhorst Elementary School'),
 (58, 'Stephen T Mather High School'),
 (57, 'Ana Roque de Duprey Elementary School'),
 (57, 'Irma C Ruiz Elementary School'),
 (57, 'Jacqueline B Vaughn Occupational High School'),
 (57, 'Jose De Diego Elementary Community Academy'),
 (57, 'Josephine C Locke Elementary School'),
 (57, 'Lorenz Brentano Math & Science Academy Elementary School'),
 (57, 'Mary Mapes Dodge Elementary Renaissance Academy'),
 (57, 'Miriam G Canter Middle School'),
 (57, 'Sidney Sawyer Elementary School'),
 (57, 'William P Gray Elementary School'),
 (56, 'Agustin Lara Elementary Academy'),
 (56, 'Jane Addams Elementary School'),
 (56, 'John T McCutcheon Elementary School'),
 (56, 'Logandale Middle School'),
 (56, 'Lyman Trumbull Elementary School'),
 (56, 'Ogden International High School'),
 (56, 'Turner-Drew Elementary Language Academy'),
 (56, 'William F Finkl Elementary School'),
 (55, 'Brighton Park Elementary School'),
 (55, 'Charles S Deneen Elementary School'),
 (55, 'James B Farnsworth Elementary School'),
 (55, 'Mary Lyon Elementary School'),
 (55, 'Nathan Hale Elementary School'),
 (55, 'Newton Bateman Elementary School'),
 (55, 'Orozco Fine Arts & Sciences Elementary School'),
 (55, 'Rodolfo Lozano Bilingual & International Center Elementary Schoo'),
 (55, 'Salmon P Chase Elementary School'),
 (55, 'Washington D Smyser Elementary School'),
 (54, 'Adam Clayton Powell Paideia Community Academy Elementary School'),
 (54, 'Carrie Jacobs Bond Elementary School'),
 (54, 'Cesar E Chavez Multicultural Academic Center Elementary School'),
 (54, 'Laughlin Falconer Elementary School'),
 (54, 'Mariano Azuela Elementary School'),
 (54, 'Marvin Camras Elementary School'),
 (53, 'Charles N Holden Elementary School'),
 (53, 'Federico Garcia Lorca Elementary School'),
 (53, 'George Washington Carver Military Academy High School'),
 (53, 'John F Kennedy High School'),
 (53, 'Louis A Agassiz Elementary School'),
 (53, 'Mary McLeod Bethune Elementary School'),
 (53, 'Morton School of Excellence'),
 (53, 'Phoenix Military Academy High School'),
 (52, 'Al Raby High School'),
 (52, 'Daniel Boone Elementary School'),
 (52, 'John Calhoun North Elementary School'),
 (52, 'Neal F Simeon Career Academy High School'),
 (52, 'Rudyard Kipling Elementary School'),
 (52, 'William J & Charles H Mayo Elementary School'),
 (52, 'William P Nixon Elementary School'),
 (51, 'Burnside Elementary Scholastic Academy'),
 (51, 'Elizabeth Peabody Elementary School'),
 (51, 'Ferdinand Peck Elementary School'),
 (51, 'John Hancock College Preparatory High School'),
 (51, 'John Harvard Elementary School of Excellence'),
 (51, 'John Marshall Metropolitan High School'),
 (51, 'Paul Cuffe Math-Science Technology Academy Elementary School'),
 (51, 'Roald Amundsen High School'),
 (51, 'Wells Community Academy High School'),
 (51, 'World Language Academy High School'),
 (50, 'Bernhard Moos Elementary School'),
 (50, 'Daniel Hale Williams Prep School of Medicine'),
 (50, 'Edward Jenner Elementary Academy of the Arts'),
 (50, 'John C Burroughs Elementary School'),
 (50, 'Joseph Brennemann Elementary School'),
 (50, 'Josiah Pickard Elementary School'),
 (50, 'Louis Pasteur Elementary School'),
 (50, 'Marcus Moziah Garvey Elementary School'),
 (50, 'Mason High School'),
 (50, 'Near North Elementary School'),
 (50, 'Uplift Community High School'),
 (50, 'Victor Herbert Elementary School'),
 (49, 'Air Force Academy High School'),
 (49, 'Alexander Graham Elementary School'),
 (49, 'Francisco I Madero Middle School'),
 (49, 'George B McClellan Elementary School'),
 (49, 'Graeme Stewart Elementary School'),
 (49, 'Ida B Wells Preparatory Elementary Academy'),
 (49, 'James Ward Elementary School'),
 (49, 'Matthew Gallistel Elementary Language Academy'),
 (49, 'Nathan R Goldblatt Elementary School'),
 (49, 'William Bishop Owen Scholastic Academy Elementary School'),
 (49, 'Williams Preparatory Academy Middle School'),
 (48, 'Andrew Carnegie Elementary School'),
 (48, 'Ashburn Community Elementary School'),
 (48, 'Carl Schurz High School'),
 (48, 'Daniel Webster Elementary School'),
 (48, 'Frank W Reilly Elementary School'),
 (48, 'John P Altgeld Elementary School'),
 (48, 'Multicultural Academy of Scholarship'),
 (48, 'Nathaniel Pope Elementary School'),
 (48, 'Nicholas Senn High School'),
 (48, 'Nicholson Technology Academy'),
 (48, 'Richard Edwards Elementary School'),
 (48, 'Robert Nathaniel Dett Elementary School'),
 (48, 'Tarkington School of Excellence Elementary School'),
 (48, 'William C Reavis Math & Science Specialty Elementary School'),
 (47, 'Arthur Dixon Elementary School'),
 (47, 'DeWitt Clinton Elementary School'),
 (47, 'Edward Beasley Elementary Magnet Academic Center'),
 (47, 'William E B Dubois Elementary School'),
 (47, 'William H King Elementary School'),
 (46, 'Alice L Barnard Computer Math & Science Center Elementary School'),
 (46, 'Benito Juarez Community Academy High School'),
 (46, 'Dunne Technology Academy'),
 (46, 'Dvorak Technology Academy'),
 (46, 'Frank I Bennett Elementary School'),
 (46, 'Frank W Gunsaulus Elementary Scholastic Academy'),
 (46, 'George Washington High School'),
 (46, 'Pershing West Middle School'),
 (46, 'Ravenswood Elementary School'),
 (46, 'Robert Fulton Elementary School'),
 (46, 'Theophilus Schmid Elementary School'),
 (45, 'Ambrose Plamondon Elementary School'),
 (45, 'Beulah Shoesmith Elementary School'),
 (45, 'Crispus Attucks Elementary School'),
 (45, 'Henry R Clissold Elementary School'),
 (45, 'James Monroe Elementary School'),
 (45, 'John Whistler Elementary School'),
 (45, 'Little Village Elementary School'),
 (45, 'Manuel Perez Elementary School'),
 (45, 'Patrick Henry Elementary School'),
 (45, 'TEAM Englewood Community Academy High School'),
 (44, 'Charles Gates Dawes Elementary School'),
 (44, 'Elaine O Goodlow Elementary Magnet School'),
 (44, 'Eli Whitney Elementary School'),
 (44, 'Everett McKinley Dirksen Elementary School'),
 (44, 'Frederick A Douglass Academy High School'),
 (44, 'Gerald Delgado Kanoon Elementary Magnet School'),
 (44, 'Irvin C Mollison Elementary School'),
 (44, 'Jean D Lafayette Elementary School'),
 (44, 'John Hay Elementary Community Academy'),
 (44, 'John Milton Gregory Elementary School'),
 (44, 'Jonathan Y Scammon Elementary School'),
 (44, 'Richard J Oglesby Elementary School'),
 (44, 'Roberto Clemente Community Academy High School'),
 (43, 'Alessandro Volta Elementary School'),
 (43, 'David G Farragut Career Academy High School'),
 (43, 'George Manierre Elementary School'),
 (43, 'Greater Lawndale High School For Social Justice'),
 (43, 'Helge A Haugan Elementary School'),
 (43, 'Joseph Lovett Elementary School'),
 (43, 'Marie Sklodowska Curie Metropolitan High School'),
 (43, 'Martha Ruggles Elementary School'),
 (43, 'Nathan S Davis Elementary School'),
 (43, 'Pilsen Elementary Community Academy'),
 (43, 'Richard T Crane Technical Preparatory High School'),
 (43, 'Washington Irving Elementary School'),
 (42, 'Charles Evans Hughes Elementary School'),
 (42, 'Daniel R Cameron Elementary School'),
 (42, 'Eugene Field Elementary School'),
 (42, 'Gurdon S Hubbard High School'),
 (42, 'Horatio May Elementary Community Academy'),
 (42, 'Jane A Neil Elementary School'),
 (42, 'John F Eberhart Elementary School'),
 (42, 'John Foster Dulles Elementary School'),
 (42, 'Lionel Hampton Fine & Performing Arts Elementary School'),
 (42, 'Louis Armstrong Math & Science Elementary School'),
 (42, 'North-Grand High School'),
 (42, 'Richard Yates Elementary School'),
 (42, 'Telpochcalli Elementary School'),
 (42, 'Theodore Roosevelt High School'),
 (42, 'VOISE Academy High School'),
 (41, 'Bronzeville Scholastic Academy High School'),
 (41, 'Charles Sumner  Math & Science Community Acad Elementary School'),
 (41, 'Dewey Elementary Academy of Fine Arts'),
 (41, 'Henry H Nash Elementary School'),
 (41, 'Manley Career Academy High School'),
 (41, 'Marine Military Math and Science Academy'),
 (41, 'Theodore Herzl Elementary School'),
 (41, 'Wolfgang A Mozart Elementary School'),
 (40, 'Charles G Hammond Elementary School'),
 (40, 'Ludwig Van Beethoven Elementary School'),
 (40, 'Martin A Ryerson Elementary School'),
 (40, 'Morgan Park High School'),
 (40, 'William H Seward Communication Arts Academy Elementary School'),
 (39, 'Betsy Ross Elementary School'),
 (39, 'Daniel J Corkery Elementary School'),
 (39, 'George Rogers Clark Elementary School'),
 (39, 'Ira F Aldridge Elementary School'),
 (39, 'James Madison Elementary School'),
 (39, 'James Russell Lowell Elementary School'),
 (39, 'Stephen F Gale Elementary Community Academy'),
 (39, 'Thurgood Marshall Middle School'),
 (38, 'Ames Middle School'),
 (38, 'Austin Business and Entrepreneurship Academy High School'),
 (38, 'Austin Polytechnical Academy High School'),
 (38, 'Edward C Delano Elementary School'),
 (38, 'Francis Parkman Elementary School'),
 (38, 'Henry Clay Elementary School'),
 (38, 'James Shields Elementary School'),
 (38, 'Jesse Sherwood Elementary School'),
 (38, 'Mahalia Jackson Elementary School'),
 (38, 'Rachel Carson Elementary School'),
 (37, 'Alfred Nobel Elementary School'),
 (37, 'Francis Scott Key Elementary School'),
 (37, 'John M Smyth Elementary School'),
 (37, 'Joseph Stockton Elementary School'),
 (37, 'Luther Burbank Elementary School'),
 (37, 'Matthew A Henson Elementary School'),
 (37, 'Robert Emmet Elementary School'),
 (37, 'Roswell B Mason Elementary School'),
 (36, 'Arthur A Libby Elementary School'),
 (36, 'Benjamin Banneker Elementary School'),
 (36, 'Charles Kozminski Elementary Community Academy'),
 (36, 'Christian Fenger Academy High School'),
 (36, 'Claremont Academy Elementary School'),
 (36, 'Esmond Elementary School'),
 (36, 'Joseph Jungman Elementary School'),
 (36, 'Ninos Heroes Elementary Academic Center'),
 (36, 'Paul Revere Elementary School'),
 (36, 'Phillip D Armour Elementary School'),
 (36, 'Rosario Castellanos Elementary School'),
 (36, 'Thomas Kelly High School'),
 (36, 'William H Brown Elementary School'),
 (35, 'Carroll-Rosenwald Specialty Elementary School'),
 (35, 'Florence Nightingale Elementary School'),
 (35, 'Granville T Woods Math & Science Academy Elementary School'),
 (35, 'Hanson Park Elementary School'),
 (35, 'Jensen Elementary Scholastic Academy'),
 (35, 'John Barry Elementary School'),
 (35, 'Michael Faraday Elementary School'),
 (35, 'Oscar DePriest Elementary School'),
 (35, 'Scott Joplin Elementary School'),
 (35, 'Sir Miles Davis Magnet Elementary Academy'),
 (35, 'Spencer Technology Academy'),
 (34, 'Douglas Taylor Elementary School'),
 (34, 'Edward Tilden Career Community Academy High School'),
 (34, 'Fort Dearborn Elementary School'),
 (34, 'Irene C. Hernandez Middle School for the Advancement of Science'),
 (34, 'Northwest Middle School'),
 (34, 'Samuel Gompers Fine Arts Options Elementary School'),
 (34, 'Thomas Chalmers Specialty Elementary School'),
 (34, 'William H Ryder Math & Science Specialty Elementary School'),
 (33, 'Arna Wendell Bontemps Elementary School'),
 (33, 'Edward A Bouchet Math & Science Academy Elementary School'),
 (33, 'George H Corliss High School'),
 (33, 'Henry O Tanner Elementary School'),
 (33, 'John H Hamline Elementary School'),
 (33, 'Joseph Warren Elementary School'),
 (33, 'Leif Ericson Elementary Scholastic Academy'),
 (33, 'Phobe Apperson Hearst Elementary School'),
 (33, 'Thomas A Hendricks Elementary Community Academy'),
 (32, 'Anthony Overton Elementary School'),
 (32, 'Avalon Park Elementary School'),
 (32, 'Charles H Wacker Elementary School'),
 (32, 'Chicago Military Academy High School'),
 (32, 'James N Thorp Elementary School'),
 (32, 'John Charles Haines Elementary School'),
 (32, 'John D Shoop Math-Science Technical Academy Elementary School'),
 (32, 'Joseph E Gary Elementary School'),
 (32, 'Kelvyn Park High School'),
 (32, 'Wendell E Green Elementary School'),
 (32, 'William T Sherman Elementary School'),
 (31, 'Alexander von Humboldt Elementary School'),
 (31, 'Anna R. Langford Community Academy'),
 (31, 'Ella Flagg Young Elementary School'),
 (31, 'Emmett Louis Till Math and Science Academy'),
 (31, 'Fairfield Elementary Academy'),
 (31, 'Hope College Preparatory High School'),
 (31, 'Ignance Paderewski Elementary Learning Academy'),
 (31, 'Kate S Buckingham Special Education Center'),
 (31, 'Mount Vernon Elementary School'),
 (31, 'Myra Bradwell Communications Arts & Sciences Elementary School'),
 (31, 'Ronald Brown Elementary Community Academy'),

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [56]:
%sql select name_of_school, average_student_attendance from schools where average_student_attendance is not null order by average_student_attendance desc limit 10

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [57]:
%sql select name_of_school, average_student_attendance from schools where average_student_attendance is not null order by average_student_attendance limit 5

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [59]:
%sql select name_of_school, replace(average_student_attendance, '%', '') from schools where average_student_attendance is not null order by average_student_attendance limit 5

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [83]:
%%sql select name_of_school, cast(replace(average_student_attendance, '%', '') as double) as average_student_attendance from schools 
where average_student_attendance < '70' and average_student_attendance is not null order by average_student_attendance

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', 57.9),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Dyett High School', 62.5),
 ('Wendell Phillips Academy High School', 63.0),
 ('Orr Academy High School', 66.3),
 ('Manley Career Academy High School', 66.8),
 ('Chicago Vocational Career Academy High School', 68.8),
 ('Roberto Clemente Community Academy High School', 69.6)]

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [87]:
%sql select community_area_name, sum(college_enrollment) as Total_Enrollment from schools group by community_area_name

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [90]:
%sql select community_area_name, sum(college_enrollment) as Total_Enrollment from schools group by community_area_name order by Total_Enrollment limit 5

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [91]:
%sql select name_of_school, safety_score from schools order by safety_score limit 5

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('Emil G Hirsch Metropolitan High School', 13)]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT name_of_school, safety_score \
FROM schools \
ORDER BY safety_score \
LIMIT 5
-->

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [109]:
# %sql select community_area_name, hardship_index from schools where college_enrollment = '4368'
# %sql select * from schools
%sql select hardship_index from chicago_socioeconomic_data as CD, schools as CPS where CD.ca = CPS.community_area_number and college_enrollment = 4368

#%sql select hardship_index from chicago_socioeconomic_data

 * ibm_db_sa://pff44874:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(6.0,)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

### Problem 12

##### Get the hardship index for the community area which has the school with the  highest enrollment.

In [2]:
%%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \ 
where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

UsageError: Cell magic `%%sql` not found.

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2021-07-09        | 2.4     | Malika            | Updated connection string                 |
| 2021-05-19        | 2.3     | Lakshmi Holla     | Updated question                          |
| 2021-04-20        | 2.2     | Malika            | Added the libraries                       |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>